.text-error {
    color: red;
}

.card {
    padding: 10px;
}

.registration-card {
    padding-top: 10%;
}

h3 {
    text-align: center;
    color: white;
    text-shadow: black;
}

.registration-title {
    padding: 0.3rem;
    background-color: #343a40;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}