<!-- <p>student-form works!</p> -->
<div class="container">
<div class="row">
    <div class="col-md-6">
        <h4>Registration</h4>
        <app-add-student (studentAdd)="addStudent($event)"></app-add-student>
    </div>
    <div class="col-md-6">
        <h4>Student Record Table</h4>
        <div *ngIf="this.students.length===0; else elseBlock">
            No Students Record to Display
        </div>
        <ng-template #elseBlock>
            <div class="record-table">

                <table class="table">
                    <thead>
                        <th>Roll Number</th>
                        <th>Name</th>
                        <th>DOB</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                    </thead>

                    <tbody *ngFor="let student of students">
                        <td>{{student.rollNo}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.dob}}</td>
                        <td>{{student.address}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.phoneNo}}</td>
                    </tbody>
                </table>


            </div>
        </ng-template>
    </div>

</div>

</div>